
    <a @onclick="ReLoadVerifyCode">
        <Spin Spinning="isLoading">
            <Tooltip Placement="@Placement.Top" Title="@("点击刷新")">
                <Image Style="@Style" Src="@verifyCodeImage" Preview="false" />
            </Tooltip>
        </Spin>
    </a>
