@inherits OperationDialogBase<int, bool, UserCenterResource>
@page "/account/settings"

<GridContent>
    <div class="main__b__2">
        <div class="leftMenu">
            <Menu 
                Mode="MenuMode.Inline" 
                SelectedKeys="new []{_selectKey}" 
                OnMenuItemClicked="SelectKey">
                @foreach (var item in _menuMap)
                {
                    <MenuItem Key="@item.Key">@Localizer[item.Value]</MenuItem>
                }
            </Menu>
        </div>
        <div class="right__b__0">
            <div class="title">@Localizer[_menuMap[_selectKey]]</div>
            @switch (_selectKey)
            {
                case "base":
                     <BaseView />
                    break;
                case "security":
                    <SecurityView />
                    break;
                case "binding":
                    <BindingView />
                    break;
            }
        </div>
    </div>
</GridContent>