<div class="wochat-show-box">
    <Badge Count="5">
        <Button Size="@ButtonSize.Large" Type="@ButtonType.Primary" Shape="@ButtonShape.Circle" Icon="comment"></Button>
    </Badge>
</div>
@code {

}
