
<Menu Theme="MenuTheme.Dark"
      Mode="MenuMode.Inline"
      OpenKeys=this.openKeys
      OnOpenChange=this.onOpenChange
      InlineCollapsed=Collapsed>
    <SubMenu Key="user_auth" Title="用户权限">
        <TitleTemplate>
            <span>
                <Icon Type="verified" Theme="outline" />
                <span>用户权限</span>
            </span>
        </TitleTemplate>
        <ChildContent>
            <MenuItem Key="user_manager">
                <Icon Type="user" Theme="outline"></Icon>
                <span>用户管理</span>
            </MenuItem>
            <MenuItem Key="role_manager">
                <Icon Type="control" Theme="outline" />
                <span>角色管理</span>
            </MenuItem>
            <MenuItem Key="resource_manager">
                <Icon Type="api" Theme="outline" />
                <span>资源管理</span>
            </MenuItem>
        </ChildContent>
    </SubMenu>
    <SubMenu Key="system_manager" Title="系统管理">
        <TitleTemplate>
            <span>
                <Icon Type="setting" Theme="outline" />
                <span>系统管理</span>
            </span>
        </TitleTemplate>
        <ChildContent>
            <MenuItem Key="3">
                <Icon Type="alert" Theme="outline" />
                <span>系统日志</span>
            </MenuItem>
            <MenuItem Key="4">
                <Icon Type="eye" Theme="outline" />
                <span>操作审计</span>
            </MenuItem>
        </ChildContent>
    </SubMenu>
</Menu>
@code
{
    

}