@page "/"
<div>
    <Card Title="AD">
        <Extra>
        </Extra>
        <Body>
            <p>有问题，找组织：QQ群:580133077</p>
        </Body>
    </Card>
    <br />
    <Card Title="AD">
        <Extra>
        </Extra>
        <Body>
            <p>源码：<a href="https://gitee.com/hgflydream/Gardener">https://gitee.com/hgflydream/Gardener</a></p>
        </Body>
    </Card>
</div>
@code {

}
